<div class="row">
  <div class="col-sm-12 pt-5">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-sm-12 mb-3">
          <div class="btn-group">
            <button [disabled]="form.invalid" class="mr-2" type="submit" mat-raised-button color="primary">Save</button> &nbsp;
            <button type="button" mat-raised-button color="warn">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input formControlName="recipeName" matInput placeholder="Ex. Pizza">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Image URL</mat-label>
          <input formControlName="imagePath" matInput placeholder="https://">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </div>
      <h2>Ingredients</h2>
      <button type="button" (click)="addIngredient()" mat-raised-button color="accent">Add Ingredient</button>
      <div class="row mt-3" formArrayName="ingredients">
        <ng-container *ngFor="let ingredient of ingredients.controls; let i = index;" [formGroupName]="i">
          <div class="col-md-8">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Ex. Pizza">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="example-full-width">
              <mat-label>Amount</mat-label>
              <input formControlName="amount" matInput type="number">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button type="button" (click)="removeIngredient(i)" color="warn" mat-icon-button>X</button>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
