<div class="row mt-5" *ngIf="recipe">
  <div class="col-sm-12">
    <img class="img-fluid" [src]="recipe.imagePath" [alt]="recipe.name">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mat-h1">{{recipe.name}}</h2>
    </div>
    <div class="row">
      <div class="col-md-12 top-bar">
        Manage Recipe
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      {{recipe.description}}
    </div>
    <div class="col-sm-12">
      Ingredients
    </div>
  </div>
</div>

<!--//MAT-MENU-->
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Add to shopping list</span>
  </button>
  <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Edit recipe</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Delete recipe</span>
  </button>
</mat-menu>

<div class="row mt-5" *ngIf="!recipe">
  <h2 mat-h2>Select Recipe</h2>
</div>
