<div class="container mt-5">
<form [formGroup]="form" class="example-form">
  <app-is-loading *ngIf="isLoading"></app-is-loading>
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-4 mx-auto">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="example@mail.com">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
      </mat-form-field>

      <div class="d-flex align-items-center">
      <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="submit()">{{ isLoginMode ? 'Login' : 'Sign up'}}</button>
      <a  class="ms-auto" role="button" (click)="switchMode()">{{ isLoginMode ? 'Sign up?' : 'Login?'}}</a>
      </div>
    </div>
  </div>
</form>
</div>
